<!-- INICIO CART-ITEM -->
<li class="cart-item">
    <article class="cart-item__detail">
        <picture class="cart-item__cover">
            <img src="../../img/star-wars/baby-yoda-1.webp"
                alt="Figura Coleccionable Funko de Grogu de la serie Mandalorian">
        </picture>
        <div class="cart-item__content">
            <h4 class="cart-item__name">
                BABY YODA BLUEBALL
            </h4>
            <p class="cart-item__licence">STAR WARS</p>
            <p class="cart-item__price">Precio unitario: $ 1799,99</p>
        </div>
    </article>
    <div class="cart-item__quantity">
        <p class="cart-item__qty-value">2</p>
        <div class="cart-item__qty-mod">
            <a href="" class="cart-item__btn">+</a>
            <a href="" class="cart-item__btn">-</a>
        </div>
    </div>

    <p class="cart-item__total">
        $ 3599,00
    </p>
    <a href="" class="cart-item__close with-icon">
        <iconify-icon icon="zondicons:close-outline" width="28" height="28"></iconify-icon>
    </a>
</li>
<!-- FIN CART-ITEM -->