<!-- INICIO HEADER -->
<header>
    <nav class="navbar container">

        <picture class="navbar__logo">
            <a href="index.html">
                <img src="img/branding/logo_light_horizontal.svg" alt="logotipo de la Marca FunkoShop" />

            </a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item with-submenu">
                <a class="navbar__link with-icon" href="pages/shop.html">SHOP<iconify-icon
                        icon="charm:chevron-down"></iconify-icon></a>
                <ul class="submenu">
                    <li class="submenu__item"><a href class="submenu__link">Funkos</a></li>
                    <li class="submenu__item"><a href class="submenu__link">Remeras</a></li>
                    <li class="submenu__item"><a href class="submenu__link">Llaveros</a></li>
                </ul>
            </li>
            <li class="navbar__item"><a class="navbar__link" href="pages/cantacto.html">CONTACTO</a></li>
            <li class="navbar__item"><a class="navbar__link" href="pages/login.hmtl">LOGIN</a></li>
            <li class="navbar__item">
                <a class="navbar__cart" href="pages/cart.html"><img src="img/icons/cart-icon.svg" alt /></a>
            </li>
        </ul>
    </nav>
</header>
<!-- FIN HEADER -->