.container {
  max-width: 1200px;
  margin: 0 auto;
}

.with-icon {
  display: flex;
  align-items: center;
}

/* ANIMATION */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
