@import url(../misc/variables.css);

/* FOOTER */
.footer {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-36);
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy {
  margin-top: var(--spacing-36);
  text-align: center;
}
.footer__logo {
  max-width: 150;
  display: flex;
}
